In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('ToyotaCorolla (1).csv',encoding='latin1',index_col=0)

In [3]:
data.head()

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,1,0,1,0,0,0,1,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,1,0,1,0,1,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 1 to 1442
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Model             1436 non-null   object
 1   Price             1436 non-null   int64
 2   Age_08_04         1436 non-null   int64
 3   Mfg_Month         1436 non-null   int64
 4   Mfg_Year          1436 non-null   int64
 5   KM                1436 non-null   int64
 6   Fuel_Type         1436 non-null   object
 7   HP                1436 non-null   int64
 8   Met_Color         1436 non-null   int64
 9   Color             1436 non-null   object
 10  Automatic         1436 non-null   int64
 11  cc                1436 non-null   int64
 12  Doors             1436 non-null   int64
 13  Cylinders         1436 non-null   int64
 14  Gears             1436 non-null   int64
 15  Quarterly_Tax     1436 non-null   int64
 16  Weight            1436 non-null   int64
 17  Mfr_Guarantee     1436 non-null   int64
 18  BOVAG_Guarantee   1436 non-null   int64
 19  Guarantee_Period  1436 non-null   int64
 20  ABS               1436 non-null   int64
 21  Airbag_1          1436 non-null   int64
 22  Airbag_2          1436 non-null   int64
 23  Airco             1436 non-null   int64
 24  Automatic_airco   1436 non-null   int64
 25  Boardcomputer     1436 non-null   int64
 26  CD_Player         1436 non-null   int64
 27  Central_Lock      1436 non-null   int64
 28  Powered_Windows   1436 non-null   int64
 29  Power_Steering    1436 non-null   int64
 30  Radio             1436 non-null   int64
 31  Mistlamps         1436 non-null   int64
 32  Sport_Model       1436 non-null   int64
 33  Backseat_Divider  1436 non-null   int64
 34  Metallic_Rim      1436 non-null   int64
 35  Radio_cassette    1436 non-null   int64
 36  Tow_Bar           1436 non-null   int64
dtypes: int64(34), object(3)
memory usage: 426.3+ KB

In [5]:
data['Color']

Id
1         Blue
2       Silver
3         Blue
4        Black
5        Black
         ...
1438      Blue
1439      Grey
1440      Blue
1441      Grey
1442     Green
Name: Color, Length: 1436, dtype: object

In [6]:
data.sample(10)

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1379,TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...,6750,76,5,1998,57263,Petrol,110,1,Green,...,0,0,1,0,0,0,1,1,0,1
72,TOYOTA Corolla 1.4 16V VVT I LIFTB TERRA 4/5-D...,12995,32,1,2002,29198,Petrol,97,1,Grey,...,0,1,1,0,0,0,1,1,0,0
1078,TOYOTA Corolla 2.0D Linea Terra 2/3-Doors,7900,75,6,1998,150000,Diesel,72,1,Green,...,0,0,1,0,0,0,0,0,0,0
862,TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors,7995,62,7,1999,64797,Petrol,110,1,Green,...,1,1,1,0,1,0,1,1,0,1
1067,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,6750,80,1,1998,160000,Petrol,86,0,Blue,...,0,0,1,0,0,1,1,0,0,0
968,TOYOTA Corolla 1.6 16V HATCHB G6 2/3-Doors,10950,65,4,1999,49942,Petrol,110,0,Red,...,1,1,1,0,1,0,1,1,0,0
1113,TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...,7250,77,4,1998,121545,Petrol,110,1,Grey,...,0,0,1,0,0,0,1,0,0,1
641,TOYOTA Corolla 1.3 16V WAGON LINEA TERRA Stati...,7995,59,10,1999,121626,Petrol,86,0,Red,...,0,0,1,0,0,1,1,0,0,0
50,TOYOTA Corolla 1.8 16V VVTLI 5DR T SPORT 4/5-D...,21950,31,2,2002,64982,Petrol,192,1,Grey,...,1,1,1,0,1,1,1,1,0,0
582,TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...,11500,55,2,2000,33230,Petrol,110,0,Red,...,1,1,1,0,0,1,1,0,0,0

# EDA

In [7]:
data.describe()

,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,4.033426,...,0.580084,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.277855
std,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,0.952677,...,0.493717,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.448098
min,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,3.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,4.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,5.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
data['Model'].unique()

array(['TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors',
       '\xa0TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors',
       'TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT BNS 2/3-Doors',
       'TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-Doors',
       '\xa0TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 VVTI Linea Terra Comfort 2/3-Doors',
       'TOYOTA Corolla 1.6 16v L.SOL 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 3DR SOL AUT4 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 1.4 VVTI Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFORT 2/3-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFORT 2/3-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 3DR TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 3DR 2/3-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 3DR 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D 90 5DR TERRA COMFORT 4/5-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D 90 5DR SOL 4/5-Doors',
       'TOYOTA Corolla 2.0 D4D 90 5DR TERRA 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 5DR TERRA COMFORT 4/5-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D 90 5DR TERRA COMFORT 4/5-Doors',
       'TOYOTA Corolla 1.8 16V VVTLI 5DR T SPORT 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 5DR TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR SOL AUT4 4/5-Doors',
       'TOYOTA Corolla 1.8 VVTL-i T-Sport 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR TERRA AUT4 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I LIFTB LUNA 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 5DR TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR SOL AUT4 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 VVT-I 5DR LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 2.0 D4D 110 5DR SOL 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I LIFTB TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 5DR 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR TERRA COMFORT 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 5drs 1 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 5DR TERRA COMFORT 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 VVTI  (Nw type) 4/5-Doors',
       'TOYOTA Corolla 2.0 D4D 90 3DR TERRA COMF BNS 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D 110 3DR SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D 90 3DR SOL BNS 2/3-Doors',
       'TOYOTA Corolla 2.0 D 4D Linea Sol 3 Doors 2/3-Doors',
       'TOYOTA Corolla 1.6 16v VVT-i Linea Sol 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D Linea Sol 3 Doors 2/3-Doors',
       'TOYOTA Corolla 1.4 VVT-i Sol 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 3DR TERRA COMFORT 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 3DR TERRA COMF AUT 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 VVT-i Linea Terra Comfort 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 3DR TERRA COMFORT 2/3-Doors',
       '\xa0TOYOTA Corolla VERSO 2.0 D4D SOL (7) BNS MPV',
       'TOYOTA Corolla VERSO 2.0 D4D SOL (7) MPV',
       '\xa0TOYOTA Corolla VERSO 2.0 D4D LINEA SOL MPV',
       'TOYOTA Corolla VERSO 2.0 D4D LINEA SOL MPV',
       'TOYOTA Corolla 2.0 D4D 116 5DR LUNA 4/5-Doors',
       'TOYOTA Corolla 2.0 D4D 90 WAGON SOL Stationwagen',
       'TOYOTA Corolla 2.0 D4D 110 5DR EXEC BNS 4/5-Doors',
       '\xa0TOYOTA Corolla 2.0 D4D Linea Terra Comfort 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR EXEC 4/5-Doors',
       'TOYOTA Corolla 1.6 VVT-i Linea Sol 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 5DR SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 vvt-i nw model comfort airco 5drs 4/5-Doors',
       'TOYOTA Corolla 1 6-16v VVT-i Linea Terra Comfort Airco 5drs 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 terra comfort 5drs airco 4/5-Doors',
       'TOYOTA Corolla Luna 5drs D4D116 PK 4/5-Doors',
       'TOYOTA Corolla 1.6i 16V VVT I SOL + Navigatie 4/5-Doors',
       '\xa0TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN TERRA COMF 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR TERRA COMF AUT 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR EXEC BNS 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN SOL AUT4 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I 5DR SOL BNS 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 5DR LUNA BNS 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I 5DR TERRA COMFORT 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I SEDAN TERRA COMF 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN SOL 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16v VVTi Linea Sol 4/5-Doors',
       'TOYOTA Corolla 1.6 16v VVTi Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN SOL BNS AUT4 4/5-Doors',
       'TOYOTA Corolla 1.4-16v VVT-i Linea Terra Comfort NIEUW AIRCO 4/5-Doors',
       'TOYOTA Corolla 1.6-16v VVT-i Linea Terra Comfort AIRCO NIEUW 5DRS 4/5-Doors',
       'TOYOTA Corolla 1.6-16v VVT-i Executive B.edition 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I 5DR LUNA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I 5DR LUNA 4/5-Doors',
       'TOYOTA Corolla 1.6 VVT-I 5DR LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.4 16V 5DR TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4-16v VVT-i Linea Terra Comfort NIEUW AIRCO 4/5-Doors',
       'TOYOTA Corolla 1.6-16v VVT-i Linea Terra Comfort NIEUW AIRCO 5drs 4/5-Doors',
       'TOYOTA Corolla 1.9 D HATCHB SOL 2/3-Doors',
       'TOYOTA Corolla 2.0 D4D SEDAN SOL 4/5-Doors',
       'TOYOTA Corolla 2.0 D4D LIFTB SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 1.8D Stationwagen',
       'TOYOTA Corolla 1.8D 4/5-Doors',
       'TOYOTA Corolla 1.9 D LIFTB TERRA 4/5-Doors',
       'TOYOTA Corolla 1.9 D WAGON TERRA Stationwagen',
       'TOYOTA Corolla 1.6 16V VVT I LIFTB LUNA 4/5-Doors',
       'TOYOTA Corolla 1.9 D Sedan 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I LIFTB TERRA 4/5-Doors',
       'TOYOTA Corolla 1.4 VVTI Linea Terra 2/3-Doors',
       'TOYOTA Corolla 19D LB Linea Terra 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB SOL 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I LIFTB SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I LIFTB LUNA AUT4 4/5-Doors',
       'TOYOTA Corolla 1.6 Terra LB 4/5-Doors',
       'TOYOTA Corolla 1.6 HB LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I WAGON BLUE Stationwagen',
       'TOYOTA Corolla 1.4 16V VVT I LIFTB LUNA 4/5-Doors',
       'TOYOTA Corolla LIFTBACK 1.6-16v Linea Luna 4/5-Doors',
       'TOYOTA Corolla 1.4 16V VVT I HATCHB SOL 2/3-Doors',
       'TOYOTA Corolla 1.6 VVTI Linea Terra liftback 4/5-Doors',
       'TOYOTA Corolla 1.9 D HB SOL 2/3-Doors',
       'TOYOTA Corolla 1.6 16V VVT I LIFTB SOL AUT4 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB G6 2/3-Doors',
       'TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V WAGON LINEA TERRA Stationwagen',
       'TOYOTA Corolla 1.6 GL LB 4/5-Doors',
       'TOYOTA Corolla 1.6 Terra 5-Doors Liftback 4/5-Doors',
       'TOYOTA Corolla 1.6-16v Linea Terra LB 4/5-Doors',
       'TOYOTA Corolla 1.6I Luna liftback 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I WAGON TERRA Stationwagen',
       'TOYOTA Corolla 1.6 Linea Terra Sedan 4/5-Doors',
       'TOYOTA Corolla 1.4 VVTI L.Terra HB 4/5-Doors',
       'TOYOTA Corolla 1.4 LB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16v VVTi Terra Comfort 2/3-Doors',
       'TOYOTA Corolla 1.6 SDN LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB G6 4/5-Doors',
       'TOYOTA Corolla 1.6 VVTi Linea terra 4/5-Doors',
       'TOYOTA Corolla 1.6v VVT-i Linea Sol 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I LIFTB SOL 4/5-Doors',
       'TOYOTA Corolla 1.6I LIFTBACK 4/5-Doors',
       'TOYOTA Corolla Liftback 1.6 VVTI 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB TERRA AUT4 2/3-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I LIFTB LUNA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I HATCHB G6 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 Terra LB Comf. 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I LIFTB TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I SEDAN TERRA AUT4 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 VVTi Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 1.3 16V LIFTB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 VVTI Linea Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 1.6 Linea Terra LB 4/5-Doors',
       'TOYOTA Corolla 1.4 VVTI LB 4/5-Doors',
       '\xa0TOYOTA Corolla 1.9 D HATCHB SOL 2/3-Doors',
       'TOYOTA Corolla 1.9 D SEDAN TERRA 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL SEDAN LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 VVTi Linea terra 2/3-Doors',
       'TOYOTA Corolla 2.0 DSL LIFTB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.9 D LIFTB LUNA 4/5-Doors',
       'TOYOTA Corolla 1.9 D WGN LINEA TERRA Stationwagen',
       '\xa0TOYOTA Corolla 1.9 D SEDAN TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I HATCHB G6 2/3-Doors',
       'TOYOTA Corolla 1.9 D LB LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 2.0D 4/5-Doors',
       'TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.6 16v TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I WAGON TERRA Stationwagen',
       'TOYOTA Corolla 1.6 HB SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 2.0 DSL HATCHB LINEA TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla LIFTBACK 1.4 VVT-i LINEA TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I HATCHB TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I HATCHB SOL 2/3-Doors',
       'TOYOTA Corolla 1.6 VVT-i L. Sol Wagon Stationwagen',
       '\xa0TOYOTA Corolla 1.6 LB LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 1.4 VVT-i Linea Sol HB 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I LIFTB TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I SEDAN TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 G6 HB 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I SEDAN TERRA AUT4 4/5-Doors',
       'TOYOTA Corolla 1.6 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I HATCHB SOL 2/3-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-Doors',
       'TOYOTA Corolla 1.9 D Linea Terra 2/3-Doors',
       '\xa0TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors',
       'TOYOTA Corolla 1.4 16V VVT I LIFTB SOL 4/5-Doors',
       '\xa0TOYOTA Corolla 1.9 D LIFTB TERRA 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL HATCHB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V WAGON LINEA LUNA Stationwagen',
       'TOYOTA Corolla 1.6 sol lb 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 SDN LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 1.9 D Wagon Stationwagen',
       '\xa0TOYOTA Corolla 1.6 VVTI Linea Terra liftback 4/5-Doors',
       'TOYOTA Corolla LIFTBACK 1.9 D Linea Terra 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V HATCHB S 2/3-Doors',
       'TOYOTA Corolla ! 1.6-16v vvt-i sol airco sedan 4/5-Doors',
       'TOYOTA Corolla 1.4 VVT-i Linea Luna liftback 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V HATCHB S 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 SDN LINEA SOL 4/5-Doors',
       'TOYOTA Corolla 1.6 VVTI Linea Sol Sedan 4/5-Doors',
       'TOYOTA Corolla 1.6 16v Liftback Linea So 4/5-Doors',
       'TOYOTA Corolla 1.4 HB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.3 G6 liftback 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 HB LINEA TERRA 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.3 Linea Terra liftback 4/5-Doors',
       '\xa0TOYOTA Corolla LIFTBACK 1.6 Linea terra 4/5-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors',
       'TOYOTA Corolla 1.6 Hatchback 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 VVT-i Linea Sol 4/5-Doors',
       'TOYOTA Corolla 1.6 16V VVT I HATCHB SOL AUT4 2/3-Doors',
       'TOYOTA Corolla 1.3 16V LIFTB G6 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 16V VVT I HATCHB TERRA AUT4 2/3-Doors',
       'TOYOTA Corolla 1.6 16V HATCHB LINEA LUNA 2/3-Doors',
       'TOYOTA Corolla 1.6 16v Liftback Linea Sol 4/5-Doors',
       'TOYOTA Corolla 1.4 HB Terra 2/3-Doors',
       '\xa0TOYOTA Corolla 1.3 16V WAGON LINEA TERRA Stationwagen',
       'TOYOTA Corolla LIFTBACK 1.4 16V VVTI TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.6 SDN LINEA TERRA 4/5-Doors',
       '\xa0TOYOTA Corolla 1.4 16V VVT I LIFTB SOL 4/5-Doors',
       'TOYOTA Corolla 2.0 d HB Diesel 2/3-Doors',
       'TOYOTA Corolla 1.4 VVT-i Terra 2/3-Doors',
       'TOYOTA Corolla 1.3 16V SEDAN LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL LIFTB LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 Linea Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL HATCHB LINEA LUNA 2/3-Doors',
       'TOYOTA Corolla 1.6 16V HATCHB G6 2/3-Doors',
       'TOYOTA Corolla 2.0diesel Stationwagen',
       'TOYOTA Corolla 2.0D TERRA LIFTBACK 4/5-Doors',
       'TOYOTA Corolla 1.6 16V G6 2/3-Doors',
       'TOYOTA Corolla 2.0D XL Sedan 4/5-Doors',
       'TOYOTA Corolla Sw 20D Linea Terra Stationwagen',
       'TOYOTA Corolla 1.3 16V WAGON LINEA TERRA Stationwagen',
       'TOYOTA Corolla 1.6 VVT-i Linea Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL WAGON LINEA TERRA Stationwagen',
       'TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA AUT4 4/5-Doors',
       'TOYOTA Corolla 1.6 G6-R 2/3-Doors',
       'TOYOTA Corolla 2.0 D Linea Terra 3d 2/3-Doors',
       'TOYOTA Corolla 1.6 16v Liftback Linea Terra 4/5-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB LINEA LUNA 2/3-Doors',
       'TOYOTA Corolla 1.3 16V LIFTB LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.6 16V HATCHB G6 R 2/3-Doors',
       'TOYOTA Corolla 2.0 SDN LINEA TERRA DSL 4/5-Doors',
       'TOYOTA Corolla 1.6 Linea Luna 2/3-Doors',
       'TOYOTA Corolla 1.6 HB LINEA LUNA AUT 2/3-Doors',
       'TOYOTA Corolla 1.3 16V Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.3 LIN. Terra 2/3-Doors',
       'TOYOTA Corolla 1.3 16V WAGON LINEA LUNA Stationwagen',
       'TOYOTA Corolla 2.0 LB LINEA TERRA D 4/5-Doors',
       'TOYOTA Corolla 1.3 Linea Terra sedan Comf. 4/5-Doors',
       'TOYOTA Corolla 1.6 HB Linea Luna 2/3-Doors',
       'TOYOTA Corolla 1.6-16v Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.6 G6R HB 2/3-Doors',
       'TOYOTA Corolla 1.6 Linea Luna Wagon Stationwagen',
       'TOYOTA Corolla 1.6 16V SEDAN LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.3 16V LIFTB LINEA TERRA AUT3 4/5-Doors',
       'TOYOTA Corolla 1.6 Terra HB 2/3-Doors',
       '\xa0TOYOTA Corolla 1.6 16v Linea Luna Stationwagen',
       'TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA AUT4 4/5-Doors',
       'TOYOTA Corolla Linea Luna 1.6i 16V 2/3-Doors',
       'TOYOTA Corolla 1.6 HB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 1.6 VVTi Linea Luna 4/5-Doors',
       'TOYOTA Corolla 1.3 LB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.3 HB LINEA TERRA 2/3-Doors',
       'TOYOTA Corolla 2.0 D Linea luna Wagon Stationwagen',
       'TOYOTA Corolla 1.6 16V HATCHB LINEA LUNA AUT4 2/3-Doors',
       'TOYOTA Corolla 1.6 LB LINEA LUNA 4/5-Doors',
       'TOYOTA Corolla 1.6 Linea Terra HB 2/3-Doors',
       'TOYOTA Corolla 1.3 16V 2/3-Doors',
       'TOYOTA Corolla 1.6 16v Linea Luna 2/3-Doors',
       'TOYOTA Corolla 1.3 16V L. TERRA COMFORT 2/3-Doors',
       'TOYOTA Corolla 1.6 Luna Liftback 4/5-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA AUT3 2/3-Doors',
       'TOYOTA Corolla 3drs 13i-16V 2/3-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB S 2/3-Doors',
       'TOYOTA Corolla 1.6 16V SEDAN LINEA LUNA AUT4 4/5-Doors',
       'TOYOTA Corolla 1.3-16V Luna 2/3-Doors',
       'TOYOTA Corolla LIFTBACK 1.6 Linea Sol 4/5-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB LINEA LUNA AUT3 2/3-Doors',
       'TOYOTA Corolla 1.6i Linea Terra HB 2/3-Doors',
       'TOYOTA Corolla 1.6 HB Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.3 16V SEDAN LINEA TERRA AUT3 4/5-Doors',
       'TOYOTA Corolla LIFTBACK 1.3i Linea Luna Liftback 4/5-Doors',
       'TOYOTA Corolla 1.6 VVTi Linea Luna Lift 4/5-Doors',
       'TOYOTA Corolla 1.6 16V WAGON LINEA TERRA AUT4 Stationwagen',
       'TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA AUT4 2/3-Doors',
       'TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA AUT4 4/5-Doors',
       'TOYOTA Corolla 1.3 Hatchback 2/3-Doors',
       'TOYOTA Corolla 1.6 I lb luna 4/5-Doors',
       'TOYOTA Corolla 2/3-Doors',
       'TOYOTA Corolla LIFTBACK 1.6-16v Linea Luna 2/3-Doors',
       'TOYOTA Corolla 1.6 linea terra 4/5-Doors',
       'TOYOTA Corolla 1.6 Linea Luna Aut. 4/5-Doors',
       'TOYOTA Corolla 1.3I LINEATERRA 2/3-Doors', 'TOYOTA Corolla ',
       'TOYOTA Corolla 1.6 LL HB 4/5-Doors',
       'TOYOTA Corolla 1.6 Linea Terra Comfort HB 2/3-Doors',
       'TOYOTA Corolla 1.3 HB Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.6 GTSi HB 4/5-Doors',
       'TOYOTA Corolla 1.6 GTSi HB 2/3-Doors',
       'TOYOTA Corolla 1.6 Lin.Terra Aut. 4/5-Doors',
       'TOYOTA Corolla 1.6 SD TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 16v Liftback Linea Luna 4/5-Doors',
       'TOYOTA Corolla 1.6 LB Linea Terra 4/5-Doors',
       'TOYOTA Corolla 1.3 Linea Terra Comfort 4/5-Doors',
       'TOYOTA Corolla 1.6 Luna LB 4/5-Doors',
       'TOYOTA Corolla 2.0 DSL WAGON LINEA TERRA COMM Anders',
       'TOYOTA Corolla 1.6 LB *G3* AIRCO 4/5-Doors',
       'TOYOTA Corolla 2.0D LINEA TERRA+airco 2/3-Doors',
       'TOYOTA Corolla 2.0 ST WGN LINEA TERRA DSL Stationwagen',
       'TOYOTA Corolla 1.6 3D Terra/Comf. 2/3-Doors',
       'TOYOTA Corolla 1.6 16v Linea Terra 4/5-Doors',
       'TOYOTA Corolla 2.0D Linea Terra 2/3-Doors',
       'TOYOTA Corolla 2.0 DSL ',
       'TOYOTA Corolla 2.0 D Linea Terra Liftback 4/5-Doors',
       'TOYOTA Corolla 1.6 HB Terra 4/5-Doors',
       'TOYOTA Corolla 1.6i-16 SPORTS TC 2/3-Doors',
       'TOYOTA Corolla 2.0 LB LINEA TERRA DSL 4/5-Doors',
       'TOYOTA Corolla 1.6 HATCHBACK 2/3-Doors',
       'TOYOTA Corolla 1.6 Linea Terra / Keuze uit 700 occasions 2/3-Doors',
       'TOYOTA Corolla 1.3 16V HATCHB 2/3-Doors',
       'TOYOTA Corolla 1.3 Linea Terra 3 drs 2/3-Doors',
       'TOYOTA Corolla 1.6 16V S-uitvoering 2/3-Doors',
       'TOYOTA Corolla 1.6 LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.6 Terra Stationwagen',
       'TOYOTA Corolla 1.6 16V HATCHB GTSI 2/3-Doors',
       'TOYOTA Corolla 1.3 Linea Luna Hatchback 2/3-Doors',
       'TOYOTA Corolla 1.3i-16v Linea Terra 5d 4/5-Doors',
       'TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors',
       'TOYOTA Corolla 1.3 3D Linea Terra 2/3-Doors',
       'TOYOTA Corolla 1.3 16V LB Linea Luna 4/5-Doors',
       'TOYOTA Corolla 1.6 HB LINEA LUNA 2/3-Doors',
       'TOYOTA Corolla LIFTBACK 1.6 Linea Terra Liftback 4/5-Doors',

In [9]:
data['Color'].unique()

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

In [10]:
data['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [11]:
data[data['Model']=='TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors']

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,1,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,0,1,0,0,0,1,0,0,0
245,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,33,12,2001,57711,Diesel,90,1,Green,...,0,0,1,1,0,0,1,0,1,0
400,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,12450,47,10,2000,117430,Diesel,90,1,Blue,...,0,0,1,0,0,0,1,1,0,0

In [12]:
data.head()

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
Id,,,,,,,,,,,,,,,,,,,,,
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,1,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,1,0,1,0,0,0,1,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,0,1,0,0,0,1,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,0,1,0,0,0,1,0,0,0
5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,1,0,1,0,1,0,0,0

## remove unneccesary columns

In [13]:
data_cleaned=data[['Price','Age_08_04','KM','HP','cc','Doors','Gears','Quarterly_Tax','Weight']]

In [14]:
data_cleaned

      Price  Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
Id
1     13500         23  46986   90  2000      3      5            210    1165
2     13750         23  72937   90  2000      3      5            210    1165
3     13950         24  41711   90  2000      3      5            210    1165
4     14950         26  48000   90  2000      3      5            210    1165
5     13750         30  38500   90  2000      3      5            210    1170
...     ...        ...    ...  ...   ...    ...    ...            ...     ...
1438   7500         69  20544   86  1300      3      5             69    1025
1439  10845         72  19000   86  1300      3      5             69    1015
1440   8500         71  17016   86  1300      3      5             69    1015
1441   7250         70  16916   86  1300      3      5             69    1015
1442   6950         76      1  110  1600      5      5             19    1114

[1436 rows x 9 columns]

### finding duplicates and removing

In [15]:
data_cleaned[data_cleaned.duplicated()]

     Price  Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
Id
115  24950          8  13253  116  2000      5      5            234    1320

In [16]:
data_cleaned2=data_cleaned.drop_duplicates()

In [17]:
data_cleaned2.duplicated().any()

False

## finding null values and treating them

In [18]:
data_cleaned2.isnull().sum()

Price            0
Age_08_04        0
KM               0
HP               0
cc               0
Doors            0
Gears            0
Quarterly_Tax    0
Weight           0
dtype: int64

##  doing train test split

In [19]:
features=data_cleaned2.drop('Price',axis=1)
features.head()

    Age_08_04     KM  HP    cc  Doors  Gears  Quarterly_Tax  Weight
Id
1          23  46986  90  2000      3      5            210    1165
2          23  72937  90  2000      3      5            210    1165
3          24  41711  90  2000      3      5            210    1165
4          26  48000  90  2000      3      5            210    1165
5          30  38500  90  2000      3      5            210    1170

In [20]:
target=data_cleaned2['Price']
target.head()

Id
1    13500
2    13750
3    13950
4    14950
5    13750
Name: Price, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test =train_test_split(features,target,train_size=0.80)

In [23]:
print(X_train.shape)

(1148, 8)

In [24]:
print(y_test.shape)

(287,)

## feature scaling

In [30]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc=StandardScaler()

In [33]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

## creating linear model

In [34]:
from sklearn.linear_model import LinearRegression

In [35]:
lin_model=LinearRegression()

In [36]:
lin_model.fit(X_train,y_train)

LinearRegression()

In [37]:
y_pred=lin_model.predict(X_test)
y_pred

array([ 9315.49005231, 11451.68400658,  8109.47717949, 15285.56834721,
        9661.66230404,  7910.23493601,  7528.79143275,  8973.56973893,
       15948.38120843,  8147.99479532, 10603.25844315, 10633.5168798 ,
        8138.46990175,  8193.87196275,  7933.08279011, 12681.53113952,
        8118.08132146,  7733.05210731,  9596.61912916, 14117.94908262,
        8456.82196476,  8592.90480941, 12104.23769464, 10350.2597417 ,
        8314.97027593,  9374.22772455,  8105.8215486 , 13322.11593701,
       21033.56635096, 15975.11783715, 10936.53559107,  7928.01883435,
       12426.83241366,  8711.04095825,  9911.46768695,  8836.08451605,
        8255.17056689,  8161.78239336, 10284.84167557, 13581.2600678 ,
        9592.44026711, 10132.44474547,  6389.95856945, 11065.48688258,
        7646.80512925,  7397.83342319,  8847.69918498, 10045.32159249,
        6203.4852747 , 19999.23946336, 11859.5617607 , 11555.59721865,
       18213.65440938,  9300.21383432,  5858.79873003,  8286.20297992,
       14627.1159993 , 10410.34498075, 11231.3803358 , 10329.37251515,
        6867.20507959, 10871.95686746, 13063.59678134, 17533.78626798,
       13154.25314703, 11940.76098247, 10161.54052054,  6633.21357378,
        7953.38276811, 10739.1961935 , 13805.53049682, 15674.00109301,
       13316.02126927, 15104.11670106, 13301.84787516, 11453.11501748,
        9892.29917203, 17339.84957266, 10874.33601443,  9578.33445491,
       11035.57236825, 10126.21292274,  7897.50672011,  7207.58454616,
       11592.59742725,  7166.48239515,  9625.0027699 , 12487.72715628,
       11119.32982245,  9236.67229643,  6947.16093364, 12204.27965991,
        9919.75543421,  8817.28150347,  6715.20900422, 12976.37815047,
        9247.8205865 ,  7353.46558618, 11903.25460784, 10813.45206801,
       11686.00923781,  7658.32388603,  7334.0444175 , 13506.87046918,
       11378.76900176,  8499.71555085, 14520.58206387, 12812.70968632,
       10915.70303801, 10109.89533151, 12932.17366208,  9371.77495938,
       12239.80210646, 17753.97303564, 13308.3828663 ,  8949.94161177,
        8353.77716915,  7710.86443669,  8115.23126216, 13192.3181695 ,
       11494.95290022,  9791.26282914, 13084.16357386,  6212.14920486,
       10350.63183783, 18791.19417025, 12151.94933056,  9002.25160965,
        8160.81820912,  8690.70447926,  9604.24656837, 15996.99663197,
        9968.51986202,  8420.67121457,  7696.96232744,  8864.99642844,
       16157.43637314, 10752.91056593, 16426.58694766,  8820.26915612,
       17140.63998967,  7812.98666968,  7927.47245856, 10388.66307972,
        7949.38824728,  8049.08794463, 13168.59804116, 10095.99069606,
       12542.62972045, 15057.64455561, 13363.92540055, 10224.33511683,
        9525.90589841, 10769.05683259,  8521.42750681,  8888.76436236,
       11145.09851151,  9066.42957766,  9335.66165384,  7170.64064288,
       11697.1631013 , 17116.88178105,  9100.31497669,  9606.81995095,
        8536.39545762, 14513.26677526,  9714.59710546,  7731.33769719,
       13892.28533847, 11219.11500711,  8709.64451075, 14318.87548226,
       11530.84904131, 15933.88704019,  9908.65255103, 16434.25858304,
        9901.38107059, 11744.92560245, 14124.69207868,  7157.10519432,
        9358.49834577,  8068.0832108 , 10508.36294662, 18838.0696005 ,
       15587.61381207,  9827.48148828,  8520.33152729, 12155.10583334,
        8177.37483015, 16737.9500417 ,  8394.27660303,  6280.49013531,
       15714.35773321,  6157.17081411, 10369.51373496,  5933.18024621,
       18756.62396688, 15421.68564232, 10402.79973255,  9201.44456567,
       17936.20835363,  8585.41626573,  7973.19688064,  9619.92641726,
        6994.74594011, 12669.10285806,  8537.75580873, 10110.86080335,
        7695.13644132,  9649.11784584,  9532.62199263,  7958.57739747,
        9599.98018984,  7777.39186722,  8836.22384604,  7349.17578433,
        7270.72295264, 12694.78360198,  9718.28995602, 10274.43217367,
       10385.80896567, 10609.84870004,  9815.73578822, 18159.98090585,
        8427.63181428, 11635.47694007,  9109.31875974, 18882.76189166,
       11413.62481775,  9441.82967447,  7793.29163455, 13457.09486354,
       12814.76161479, 11358.90122125,  7447.61910854,  7922.10990427,
       10749.99879979,  7746.84000828, 12171.02013683,  9405.5659492 ,
        8800.70502061, 19397.97666214,  8928.02640889, 16144.0304636 ,
        6372.44322751, 17472.85707501, 11093.15902578, 10162.23893681,
        6981.18706041, 11144.21428415, 11262.65158181, 16021.79510586,
       25532.79818426,  7710.46723696,  8232.82417127, 11615.43481672,
        8392.34755066, 13583.12740253,  8193.99116557,  7282.90035116,
       13252.838901  ,  8482.55404863,  6576.31910269,  9108.36746446,
        7254.64843385,  6256.34425007,  8049.7842237 , 16428.606191  ,
        7788.25600082,  9435.7117785 , 10279.85192418, 25587.41976723,
        6228.96690854, 10515.34973554,  8570.48041833,  6838.81918931,
       10282.95994438, 13375.54874385,  8982.05860365, 10760.33708786,
       14684.11781513,  7768.98980133,  8595.6173792 ,  7631.02543626,
        8788.35447371, 10174.88441387,  8713.06465899])

# checking accuracy

In [38]:
lin_model.score(X_test,y_test)

0.8736506891394475