In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
del_time=pd.read_csv('delivery_time.csv')

In [3]:
del_time.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [4]:
del_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 468.0 bytes

In [5]:
del_time.isnull().sum()

Delivery Time    0
Sorting Time     0
dtype: int64

In [13]:
del_time.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [15]:
del_time

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [16]:
feature=del_time['Sorting Time']

In [17]:
target=del_time['Delivery Time']

In [18]:
feature.isnull().sum()

0

In [19]:
target.isnull().sum()

0

In [21]:
feature.duplicated()

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19     True
20    False
Name: Sorting Time, dtype: bool

In [22]:
feature.drop_duplicates(inplace=True)

In [23]:
feature.duplicated()

0     False
1     False
2     False
3     False
6     False
7     False
10    False
18    False
20    False
Name: Sorting Time, dtype: bool

In [24]:
target.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: Delivery Time, dtype: bool

In [25]:
target.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: Delivery Time, dtype: bool

In [29]:
feature.shape

(9,)

In [30]:
target.shape

(21,)

In [31]:
feature

0     10
1      4
2      6
3      9
6      7
7      3
10     8
18     2
20     5
Name: Sorting Time, dtype: int64